.header{
    display: flex;
    width: 100%;
    background-color: white;
}

.header-item{
    width: 150px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    &:hover {
        background-color: limegreen;
        color: white;
    }
}